*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  @media (max-width: $bp-medium) {
    font-size: 50%;
  }

  @media (max-width: 340px) {
    font-size: 45%;
  }
}
body {
  overflow-x: hidden;
  line-height: 1.6;
  font-family: "Ubuntu", sans-serif;
  background: var(--bg);
  margin-bottom: 2em;
}
::-moz-selection,
::selection {
  background: var(--tertiary-color);
  color: var(--bg);
}
input::-moz-focus-inner {
  border: 0;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  outline: none;
}

button {
  outline: none;
  &::-moz-focus-inner {
    border: 0;
  }
}

ul {
  list-style: none;
}

main {
}
