*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  line-height: 1.6;
  font-family: "Ubuntu", sans-serif;
}
::-moz-selection,
::selection {
  background: var(--primary-color);
  color: #fff;
}
input::-moz-focus-inner {
  border: 0;
}

a {
  text-decoration: none;
  color: var(--tertiary-color);
  outline: none;
}

button {
  outline: none;
  &::-moz-focus-inner {
    border: 0;
  }
}

ul {
  list-style: none;
}

main {
}
