.btn {
  outline: none;
  font-weight: 500;
  font-size: 1.6rem;
  font-family: inherit;
  padding: 1rem 2rem;
  border-radius: 5px;
  transition: 200ms ease;
  border: none;
  background: transparent;
  cursor: pointer;

  &--primary {
    background-color: var(--secondary-color);

    a {
      color: var(--bg);
    }

    &:hover,
    &:focus-within,
    &:focus {
      opacity: 0.7;
    }
  }
  &--secondary {
    background: transparent;

    border: 1px solid var(--tertiary-color);

    &:hover,
    &:focus-within,
    &:focus {
      background: var(--primary-color);

      a {
        color: var(--bg) !important;
      }
    }
  }
  &--outline {
    margin-top: 3em;
    text-align: center;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
    transition: 200ms ease;
  }

  &--contact {
    margin: 0;
    padding: 0;

    margin-top: 2.5em;
  }

  &:focus-within,
  &:focus,
  &:hover {
    a {
      color: var(--light-gray);
    }
  }
}
