.heading--1 {
  font-size: 9.6rem;
  font-weight: 700;
  color: var(--primary-color);
}
.heading--2 {
  font-size: 4.8rem;
  font-weight: 500;
  color: var(--secondary-color);
}
.heading--4 {
  font-size: 3.4rem;
  color: var(--dark-gray);
}

.heading--6 {
  color: var(--light-gray);
  font-weight: 300;
  font-size: 2rem;
}

.paragraph {
  font-size: 1.8rem;
  line-height: 1.78;
  color: var(--tertiary-color);
}
