.header {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (max-width: $bp-small) {
    min-height: 80vh;
  }
  &__content {
    max-width: 70%;

    @media (max-width: $bp-small) {
      max-width: 100%;
    }
  }
}
